* {
  margin: 0px;
}
.upper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: green;
  height: 70vh;
}

.lower {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  height: 30vh;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,180,125,1) 35%, rgba(0,212,255,1) 100%);
}

.heading {
  }

.text {
  text-align: justify;
  margin-right: 10px;
}

.logo img {
  width: 50px;
}
